// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
	.section-banner {
		#banner-slider {
			.banner-image {

			}

			.banner-content {
				// color: $black;
			}
		}
	}
}