// -----------------------------------------------------------------------------
// This file contains all for featured products
// -----------------------------------------------------------------------------

.section-featured {
	.left-items {
		position: relative;
		padding-left: 20px;

		&:before {
			position: absolute;
	    top: 0;
	    right: -11px;
	    width: 1px;
	    height: 100%;
	    background-color: $light-grey;
	    content: '';
		}

		.btn {
			padding: 0;
		}
	}

	.right-items {
		padding-top: 20px;
		padding-right: 20px;
	}

	.featured-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 20px;

		.featured-img {
			margin-right: 15px;
		}
	}

	.product-brand {
		margin-bottom: 20px;
	}

	@media screen and (max-width: 1199px) {
		.left-items {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
		.right-items {
			.product-brand {
				img {
					margin: 0 auto;
				}
			}
		}
	}

	@media screen and (max-width: 575px) {
		.left-items {
			.featured-wrap {
				.featured-heading {
					font-size: 15px;
				}
				.btn {
					font-size: 13px;
				}
			}
		}
	}
}