// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.main-footer {
	position: relative;
	padding-bottom: 35px;
	// background-image: url('../assets/images/footer-bg.png');
	// background-size: cover;
	// background-repeat: no-repeat;
	// width: 100%;

	.footer-bg {
		position: absolute;
		top: 50%;
		z-index: -1;
    @include transform(translateY(-50%));
	}

	.section-stories {
		.story-wrapper {
			.story-rating {
				ul,
				.product-total-rating {
					display: inline-block;
				}

				ul {
					margin: 0 10px 10px;

					li {
						display: inline-block;
						font-size: 17px;

						&:last-child {
							color: $mid-grey;
						}
					}
				}

				.product-total-rating {
					color: $mid-grey;
					font-size: 14px;
				}
			}

			.create-account {
				margin: 30px 0;

				.btn-create-accnt {
					font-size: 15px;
				}
			}
		}
	}

	.contact-info-wrap {
		.contact-details {
			h2 {
				margin-bottom: 15px;
				font-family: $font-montserrat-medium;
				font-size: 22px;
			}

			.contacts {
				li {
					display: table;
					margin-bottom: 10px;

					span {
						display: table-cell;
						vertical-align: middle;
						padding-right: 20px;

						&.clock {
							padding-right: 15px;
						}
					}
				}
			}

			.btn-view-details {
				margin-top: 15px;
			}
		}

		.services-list {
			ul {
				li {
					margin-bottom: 10px;
				}
			}
		}
	}

	.newsletter-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 20px;

		.newsletter {
			h2 {
				margin-top: 0;
				font-family: $font-montserrat-medium;
				font-size: 22px;
			}
			p {
				font-family: $font-opensans;
				font-size: 14px;	
			}
		}

		.email-add {
			padding: 21.9px 25px;
			font-family: $font-opensans;
			border: 1px solid $light-grey;
			border-right: 1px solid $brand-color;
			box-shadow: none;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;

			&::placeholder {
				color: $brand-color;
			}
		}
	}

	.copyright-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
 	  -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;

    .payment-wrap,
    .copyright-wrap {
    	display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
   	 -ms-flex-align: center;
      align-items: center;
    }

		.payment-wrap {
			span {
				margin-right: 30px;
				font-family: $font-opensans;
				color: $mid-grey;
			}

			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
	   	  -ms-flex-align: center;
	      align-items: center;
				margin-bottom: 0;

				li {
					margin: 0 10px;
				}
			}
		}

		.c-right-wrap {
			color: $mid-grey;

			ul {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
	   	  -ms-flex-align: center;
	      align-items: center;
				margin-bottom: 0;

				li {
					position: relative;
					margin: 0 10px;

					&:after {
						position: absolute;
						top: 0;
						right: -11px;
						width: 1px;
						height: 100%;
						background-color: $mid-grey;
						content: '';
					}

					&:last-child:after {
						display: none;
					}

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						color: $mid-grey;
					}
				}

				.divider {
					display: inline-block;
					padding: 0;
					margin: 0 5px;
					height: 100%;
					width: 1px;
					background-color: $mid-grey;
				}
			}
		}
	}

	@media screen and (max-width: 991px) {
		padding-bottom: 5px;

		.story-image {
			margin-top: 20px;	
		}
		.contact-info-wrap {
			.services-list {
				margin-top: 20px;
			}
		}
		.copyright-wrap {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			.c-right-wrap {
				margin-top: 10px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		padding-bottom: 5px;

		.contact-info-wrap {
			text-align: center;

			.contact-image {
				margin: 0 auto;
			}

			.contact-details {
				.contacts {
					li {
						display: block;
						margin-bottom: 15px;

						span {
							display: block;
							padding-right: 0;
							margin-bottom: 20px;

							&.clock {
								padding-right: 0;
							}

							img {
								margin: 0 auto;
							}
						}
					}
				}
			}

			.services-list {
				margin-top: 20px;

				.responsive-mb {
					margin-bottom: 30px;
				}
			}
		}
		
		.newsletter-wrap {
			.newsletter {
				h2 {
					font-size: 15px;
				}
			}
		}
		.copyright-wrap .payment-wrap, 
		.copyright-wrap .copyright-wrap {
			display: initial;
		}

		.copyright-wrap {
			.payment-wrap {
				span {
					display: block;
					margin-right: 0;
					margin-bottom: 10px;
					text-align: center;
				}

				ul {
					margin-bottom: 0;
				}
			}
		}
	}
}