// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;

	.navbar-header {
		.navbar-brand {
			svg {
				display: inline-block;
			}
		}
	}

	.navbar-collapse {
		.top-nav {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
	    justify-content: space-between;
			margin-top: 20px;
	    margin-bottom: 30px;
			border-bottom: 1px solid $light-grey;

			.left-content {
				p {
					margin: 0;
					font-size: 15px;
				}
			}

			.right-content {
				.right-content-nav {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-pack: justify;

					li {
						margin: 0 15px;

						&.input-group {
							top: -8px;
							display: table;
							width: 200px;
							max-width: 100%;
							font-family: $font-opensans;
							font-size: 13px;

							.search-bar {
								border-top: none;
								border-left: none;
								border-right: none;
								border-bottom: 1px solid transparent;
								box-shadow: none;
								border-radius: 0;
								@include transitions(all .2s ease-in-out);

								&::placeholder {
									color: $brand-color;
								}

								&:focus {
									border-bottom: 1px solid $brand-color;
								}
							}

							.btn-search {
								background-color: transparent;
								border: none;
								box-shadow: none;
								outline: 0;

								img {
									width: 20px;
									height: 20px;
								}
							}
						}

						&.cart {
							margin-right: 0;

							.btn-cart {
								position: relative;
								top: -2px;
								
								img {
									width: 20px;
									height: 20px;
								}
							}
						}
					}
				}
			}
		}

		.main-nav {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;

			.orange-logo {
				img {
					width: 150px;
				}
			}

			.navbar-nav {
				li {
					padding: 10px;
					font-family: $font-montserrat-regular;
					font-size: 16px;
					color: $brand-color;				

					&.active {
						a {
							font-family: $font-montserrat-semibold;
							border-bottom: 1px solid $brand-color;
						}
					}

					&.dropdown {
						.dropdown-menu {
							li {
								a {
									border-bottom: 1px solid transparent;

									@include on-event() {
										border-bottom: 1px solid $brand-color;
									}
								}
							}
						}
					}

					a {
						padding: 0;
						border-bottom: 1px solid transparent;
					}

					@include on-event() {
						a {
							// font-family: $font-montserrat-semibold;
							background-color: transparent;
							border-bottom: 1px solid $brand-color;	
						}
					}
				}
			}

			.nav-create-account {
				// margin-left: auto;
			}
		}
	}
}