// -----------------------------------------------------------------------------
// This file contains all for products
// -----------------------------------------------------------------------------

.product-wrapper {
	padding: 15px 25px;
	margin-bottom: 30px;
	min-height: 261px;
	border-radius: 5px;
	border: 1px solid $light-grey;

	&.no-border {
		border: none;
	}

	&.suggestion-wrapper {
		display: table;
		padding: 15px 20px;

		.suggestion {
			display: table-cell;
			vertical-align: middle;

			.suggestion-action {
				margin-top: 20px;
			}
		}
	}

	.product-image {
		position: relative;

		img {
			margin: 0 auto;
		}

		.product-price {
			position: absolute;
			top: 50%;
			right: 30px;
			display: table;
			padding-bottom: 20%;
			@include transform(translateY(-50%));
			color: #fff;

			.price {
		    display: table-cell;
		    vertical-align: middle;
				margin: 0;
				height: 60px;
				width: 60px;
				font-family: $font-montserrat-bold;
		    font-size: 20px;
		    text-align: center;
				background-color: $brand-color;
				border-radius: 50%;
			}
		}
	}

	.product-title {
		
	}

	.product-info {
		.product-rating {
			ul,
			.product-total-rating {
				display: inline-block;
			}

			ul {
				margin-right: 10px;

				li {
					display: inline-block;
					font-size: 17px;

					&:last-child {
						color: $mid-grey;
					}
				}
			}

			.product-total-rating {
				color: $mid-grey;
				font-size: 14px;
			}
		}

		.stock-num,
		.stock-status {
			display: inline-block;
		}

		.stock-num {
			font-family: $font-opensans;
			font-size: 14px;
			color: $mid-grey;
		}

		.stock-status {
			.fa {
				margin-right: 10px;
				color: $green;
			}
		}
	}

	.product-action {
		.btn-view-more {
			padding: 0;
		}
	}


	@media screen and (max-width: 1199px) {
		width: 100%;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 10px;
	}

	// @media screen and (max-width: 575px) {
	// 	margin-bottom: 10px;
	// }
}