// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	box-shadow: none;
}

.btn-black-bg {
	display: inline-block;
	padding: 10px 25px;
	font-family: $font-montserrat-bold;
	border: 1px solid $brand-color;
	border-radius: 30px;
	background-color: $brand-color;
	color: #fff;

	@include on-event() {
		border: 1px solid $brand-color;
		background-color: #fff;
		color: $brand-color;
	}
}

.btn-white-bg {
	display: inline-block;
	padding: 10px 25px;
	font-family: $font-montserrat-bold;
	border: 1px solid $brand-color;
	border-radius: 30px;
	background-color: #fff;
	color: #000;
}

.btn-black-outline {
	padding: 6px 20px;
	font-family: $font-montserrat-medium;
	border: 1px solid $brand-color;
	border-radius: 20px;
	background-color: #fff;

	@include on-event() {
		background-color: $brand-color;
		color: #fff;
	}
}

.btn-pink-bg {
	padding: 0;
	font-family: $font-opensans;
	background-color: $pink;
	border-radius: 0;
	color: $mid-grey;

	@include on-event() {
		color: #000;
	}
}

.pink-bg {
	background-color: $pink;
}