// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.carousel-control {
  background-image: none !important;
}


.divider {
	padding: 40px 0 20px;

	hr {
		margin: 0;
	}
}

@media screen and (max-width: 767px) {
	.divider {
		padding: 30px 0 20px;
	}
}