// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$font-opensans: 'Open Sans';
$font-opensans-semibold: 'Open Sans SemiBold';
$font-montserrat-regular: 'Montserrat Regular';
$font-montserrat-semibold: 'Montserrat SemiBold';
$font-montserrat-bold: 'Montserrat Bold';
$font-montserrat-medium: 'Montserrat Medium';

/// @type List
$text-font-stack: $font-montserrat-medium, $font-opensans, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #0d0d0d !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

$light-grey: #e8e8e8;
$mid-grey: #939598;
$pink: #f6dcd5;
$green: #8dc63f;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;
