/**
 * Basic typography style for copy text
 */
body {
    color: $text-color;
    font: normal 125% / 1.4 $text-font-stack;
}


.section-heading {
	margin-bottom: 40px;
	font-family: $font-montserrat-medium;
	font-size: 20px;

	&-large {
    margin-bottom: 20px;
		font-family: $font-montserrat-semibold;
		font-size: 31px;
		line-height: 1.5;
	}
}

.section-desc {
	font-family: $font-opensans-semibold;
	font-size: 17px;

	&-small {
		font-family: $font-opensans;
		font-size: 15px;
	}
}

.product-heading {
	font-family: $font-montserrat-medium;
}

.suggestion-heading {
	font-family: $font-montserrat-medium;
	font-size: 22px;
}

.featured-heading {
	font-family: $font-montserrat-medium;
	font-size: 16px;
}

.section-heading-product {
	font-family: $font-montserrat-medium;
	font-size: 22px;	
}

@media screen and (max-width: 767px) {
	.section-heading {
		margin-bottom: 20px;
	}
	.section-heading-product {
		font-size: 17px;
	}
}